body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('./background imag 16ce57f0-4d24-4268-950e-964a9188c14b.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(244, 244, 244, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
  font-weight: bold;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #2077d4;
}
/* Navbar Styles */
.navbar {
  background-color: #333;
  overflow: hidden;
}
.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  padding-top: 50px;
  padding-bottom: 25px;
  text-decoration: none;
  font-size: larger;
}
.navbar a:hover{
  font-size: 20px;
  color: rgb(230, 216, 24);
  font-style: italic;
}
#logo1{
    width: 150px;
    border-radius: 50%;
    padding: 10px;
}